{
  "processors": [
    "stylelint-processor-styled-components"
  ],
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-styled-components"
  ],
  "plugins": [
		"stylelint-order"
	],
  "rules": {
    "order/properties-order": [
      "content",
      "position",
      "z-index",
      "top",
      "right",
      "bottom",
      "left",
      "display",
      "justify-content",
      "justify-items",
      "justify-self",
      "align-items",
      "align-content",
      "align-self",
      "flex-direction",
      "flex-wrap",
      "flex-flow",
      "flex-grow",
      "flex-shrink",
      "flex-basis",
      "flex",
      "grid-template-columns",
      "grid-template-rows",
      "grid-template-areas",
      "grid-template",
      "grid-column-gap",
      "grid-row-gap",
      "grid-gap",
      "grid-auto-columns",
      "grid-auto-rows",
      "grid-auto-flow",
      "grid",
      "order",
      "float",
      "clear",
      "opacity",
      "transform",
      "overflow",
      "clip",
      "outline",
      "margin",
      "margin-top",
      "margin-right",
      "margin-bottom",
      "margin-left",
      "padding",
      "padding-top",
      "padding-right",
      "padding-bottom",
      "padding-left",
      "width",
      "max-width",
      "min-width",
      "height",
      "max-height",
      "min-height",
      "border",
      "border-top",
      "border-right",
      "border-bottom",
      "border-left",
      "border-radius",
      "border-color",
      "border-width",
      "box-sizing",
      "box-shadow",
      "background",
      "background-color",
      "background-image",
      "background-position",
      "background-size",
      "background-repeat",
      "background-origin",
      "background-clip",
      "background-attachment",
      "object-fit",
      "list-style",
      "cursor",
      "user-select",
      "font-family",
      "font-size",
      "font-weight",
      "font-style",
      "line-height",
      "text-align",
      "text-transform",
      "text-decoration",
      "word-spacing",
      "letter-spacing",
      "white-space",
      "color",
      "animation",
      "animation-name",
      "animation-duration",
      "animation-timing-function",
      "animation-delay",
      "animation-iteration-count",
      "animation-direction",
      "animation-fill-mode",
      "animation-play-state",
      "transition"
		]
  }
}
